nav {
  margin: 3% 3%;
}
nav p {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: 600;
  color: #57737A;
}
.sources {
  margin: 3% 3%;
}
.source-card {
  box-shadow: 1px 1px 4px 1px rgba(87, 115, 122, 0.4);
}
.source-card .grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-flow: row;
}
.source-card p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #57737A;
}
.error {
  width: 80%;
  margin: 3% auto;
}
.error p {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #57737A;
}
.error h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #F8F7FD;
}
.error a {
  text-decoration: none;
  outline: none;
}
