$font-1: 'Playfair Display', serif;
$font-2: 'Work Sans', sans-serif;

@mixin margins($top-bottom: 3%, $left-right: 3%) {
   margin: $top-bottom $left-right;
}

@mixin font($size, $weight, $color, $family: $font-2) {
   font-family: $family;
   font-size: $size;
   font-weight: $weight;
   color: $color;
}

a {
   text-decoration: none;
   outline: none;
}

nav {
   @include margins();
   p {
      @include font(18px, 700, #57737A);
      text-transform: uppercase;
   }
}

// styling articles page
.sources {
   @include margins()
}

.source-card {
   height: 80px;
   box-shadow: 1px 1px 4px 1px rgba(#57737A, 0.4);

   p {
      @include font(14px,600,#57737A,$font-2);
      margin-left: 15px;
   }

}

.grid {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-gap: 10px;
   grid-auto-flow: row;
}

// styling the 404 page
.error {
   width: 100%;
   margin: 0 auto;
   text-align: center;

   p{
      margin-top: 6%;
      @include font(15px, 600, #57737A, $font-2);
   }

   h1 {
      margin-top: 0;
      margin-bottom: 0;
      @include font(200px, 700, #F8F7FD, $font-2);
   }

   a {
      margin-top: 10%;
      text-decoration: none;
      outline: none;
      border: 2px solid rgba(#85BDBF, 0.4);
      padding: 10px 14px;
      border-radius: 5px;
      @include font(15px, 600, #57737A, $font-2);
      &:hover {
         border: 2px solid rgba(#85BDBF, 1);
         color: #85BDBF;
      }
   }
}

//styling the highlights page
.highlight {
   @include margins();
   width: 90%;
}

.highlight-card {
   text-decoration: none;
   outline: none;
   // background: #F8F7FD;
   height: 50vh;

   .image {
      width: 40%;
      height: 100%;
      overflow: hidden;
      img{
         height: 100%;
      }
   }

   p {
      @include font(15px, 600, #85BDBF, $font-2);
   }
}

.details {
   width: 55%;
}

.title {
   @include font(40px,700,#57737A,$font-2);
   &:after {
      content: '';
      display: block;
      height: 0.1px;
      border: 2px solid rgba(#85BDBF, 0.4);
      width: 70%;
      margin: 10px 0;
   }
   &:hover {
      @include font(40px,700,#83C9F4,$font-2);
      z-index: 1;
      margin-bottom: 10px;
   }
}

.h-grid {
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-gap: 30px;
   grid-auto-flow: row;
}

.to-left {
   float: left;
}

.to-right {
   float: right;
}
