{% extends 'layout.html' %}
{% block content %}
   <div class="highlight">
      <div class="h-grid">
         {% for headline in headlines %}
            <a href="{{ headline.url }}" target="_blank">
               <div class="highlight-card">
                  <div class='image to-left'>
                     <img src="{{ headline.url_to_image }}" alt="">
                  </div>
                  <div class='details to-right'>
                     <p>{{ headline.author }} / {{ headline.published_at }}</p>
                     <h1 class='title'>{{ headline.title }}</h1>
                  </div>
               </div>
            </a>
         {% endfor %}
      </div>
   </div>
{% endblock %}


